In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Polynomial Regression

In [68]:
df=pd.read_csv('insurance.csv')
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [69]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [70]:
df['sex']=df['sex'].astype('category')
df['sex']=df['sex'].cat.codes

df['smoker']=df['smoker'].astype('category')
df['smoker']=df['smoker'].cat.codes

df['region']=df['region'].astype('category')
df['region']=df['region'].cat.codes

In [71]:
df

      age  sex     bmi  children  smoker  region      charges
0      19    0  27.900         0       1       3  16884.92400
1      18    1  33.770         1       0       2   1725.55230
2      28    1  33.000         3       0       2   4449.46200
3      33    1  22.705         0       0       1  21984.47061
4      32    1  28.880         0       0       1   3866.85520
...   ...  ...     ...       ...     ...     ...          ...
1333   50    1  30.970         3       0       1  10600.54830
1334   18    0  31.920         0       0       0   2205.98080
1335   18    0  36.850         0       0       2   1629.83350
1336   21    0  25.800         0       0       3   2007.94500
1337   61    0  29.070         0       1       1  29141.36030

[1338 rows x 7 columns]

In [73]:
x=df.iloc[:,:-1]
x

      age  sex     bmi  children  smoker  region
0      19    0  27.900         0       1       3
1      18    1  33.770         1       0       2
2      28    1  33.000         3       0       2
3      33    1  22.705         0       0       1
4      32    1  28.880         0       0       1
...   ...  ...     ...       ...     ...     ...
1333   50    1  30.970         3       0       1
1334   18    0  31.920         0       0       0
1335   18    0  36.850         0       0       2
1336   21    0  25.800         0       0       3
1337   61    0  29.070         0       1       1

[1338 rows x 6 columns]

In [74]:
y=df.iloc[:,-1:]
y

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [75]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=0)

In [76]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

In [79]:
x_train_scaler=sc.fit_transform(x_train)
x_test_scaler=sc.transform(x_test)

In [81]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()

In [86]:
print(len(x_train_poly))

1003

In [87]:
print(len(x_test_poly))

335

In [106]:
poly= PolynomialFeatures(degree=3)
x_train_poly = poly.fit_transform(x_train_scaler)
x_test_poly = poly.transform(x_test_scaler)
poly.fit(x_train_poly,y_train)
lr.fit(x_train_poly, y_train)

LinearRegression()

In [107]:
y_pred =lr.predict(x_test_poly)

In [108]:
mean_absolute_error(y_test,y_pred)

2926.335902026866

In [109]:
y_train_pred=lr.predict(x_train_poly)
mean_absolute_error(y_train,y_train_pred)

2854.840519421735